#include ".Xresources.dark"

! Settings for xterm
XTerm*termName:xterm-256color
XTerm*internalBorder:2
XTerm*faceName:Liberation Mono:antialias=true
XTerm*faceSize:16

! Settings for display scaling
!Xft.dpi:150
